* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
}

.container {
    padding: 0 15px;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 36px;
    max-width: 548px;
    line-height: 54px;
    padding-top: 30px;
    margin: 0 auto 54px;
    width: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.block {
    width: 22%;
    margin: 0 15px;
}

h2 {
    margin: 0 0 28px;
}

img {
    margin: 0 0 28px;
}

span {
    color: #544837;
    font-weight: 500;
}

/*button*/

.signup {
    margin: 0 auto;
    padding: 65px;
}

.signupbutton {
    color: white;
    background-color:#FF9900;
    border: 1px solid #BCD0E5;
    border-radius: 3px;
    display:inline-block;
    cursor:pointer;
    font-family:Poppins, sans-serif;
    font-size:16px;
    font-weight:600;
    padding:11px 23px;
    text-decoration:none;
    transition: all .3s ease 0s;

}
.signupbutton:hover {
    background-color:white;
    color: #173A56;

}
.signupbutton:active {
    position:relative;
    top:1px;
}

/*footer*/
.flexfooter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.footerlinks {
    list-style: none;
}

.link {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    position: relative;
    line-height: 1;
}

.link:after {
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FF9900;
    content: "";
    transition: width 0.3s ease-out;
}

.link:hover:after,
.link:focus:after {
    width: 100%;
}

.linklist {
    padding: 5px;
}

.textarea {
    border-radius: 3px;
    border-color: #BCD0E5;
    font-family: Poppins, sans-serif;
    color: #BCD0E5;
    display: block;
    resize: none;
    overflow: hidden;
    margin-bottom: 30px;
    align-items: center;
}

